<launch>
    <!-- Start GPS converter -->
    <node name="set_gps_reference_node" pkg="geodetic_utils" type="set_gps_reference_node" clear_params="true" output="screen" args="10">
      <remap from="gps" to="/ublox_gps/fix" />
    </node>

    <node name="gps_to_pose_conversion_node" pkg="geodetic_utils" type="gps_to_pose_conversion_node" clear_params="true" output="screen">
      <remap from="gps" to="/ublox_gps/fix" />
      <!--remap from="imu" to="raw_imu" /-->
      <param name="is_sim" value="false" />
      <rosparam file="$(find geodetic_utils)/parameters/gps_pose_covariance.yaml"/>
    </node>
</launch>
